.center {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.main-box{
    padding: 20px;
    border: 1px solid;
}


#selectedName{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
}
